.maubackground {
    background-color: #f8f5f5;
}
.subbanner5 {
    display: block;
    position: relative;
}
.subbanner5 img {
    height: 356px;
    object-fit: cover;
}
.title5 {
    width: 100%;
    position: absolute;
    top: 42%;
    color: #fff;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
}
.contain5 {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title5 span {
    position: absolute;
    z-index: 2;
}
.tieude5 {
    text-transform: uppercase;
}
.containdvtl {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}
.service1 {
    background-color: #ffffff;
    padding: 45px 65px;
    margin: 70px auto 73px;
    max-width: 1110px;
}
.tieudedv1 {
    font-size: bold;
    text-align: center;
    font-size: 28px;
    color:#0072bc
}
.chimuc1dv1 {
    color: #0072bc;
    font-size: 20px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.service1 img {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 1rem;
    width: 100%;
}
.dvkhac1 {
    margin-bottom: 70px;
}
.dvkhac1 h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #0072bc;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.wrnonrow1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.colsm412 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.anothersv1 {
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    padding: 7px 30px 0;
    min-height: 324px;
    margin: 5px 10px;
}
.anothersv1:hover {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.075)!important;
}
.dvk1_img1 {
    position: relative;
}
.dvk1_img1 .dvk1_icon1 {
    max-width: 120px;
    position: relative;
}
.dvk1_img1 .dvk1_icon1 img {
    max-width: 120px;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.dvk1_img1 .dvk1_icon1 img:hover {
    max-width: 125px;
    width: 105%;
}
.dvk1_title1 {
    margin-bottom: 10px;
    margin-top: -3px;
}
.dvk1_title1 h3 {
    text-transform: uppercase;
    color: #0072bc;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.dvk1_title1 h3:hover {
    color: orange;
    text-decoration: underline;
}
.dvk1_descrip1 p {
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

