.backgroundmodau {
    cursor: pointer;
}

.lookuppostal {
    background: #f5cc71;
    padding: 50px 0;
    margin-bottom: 70px;
}

.containermd {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.roww {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.colmd512 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.lookaction h3 {
    color: #0072bc;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}
.lookaction p {
    color: #313131;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.dflex {
    display: flex;
}
.lookaction input {
    height: 50px;
    width: calc(100% - 60px);
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    border-radius: 4px;
    color: #313131;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.lookaction .btnsearch {
    background: #0072bc;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    margin-left: 10px;
    padding: 13px 0;
    width: 60px;
    height: 50px;
    text-align: center;
    transition: all .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.lookaction .btnsearch img {
    width: 16.5px;
}
.flexcol {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
aa {
    transition: unset;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;
}
.lookitemmm {
    text-align: center;
}
.lookitemmm div {
    max-width: 120px;
    margin: auto;
}
.lookitemmm img {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.lookitemmm img:hover {
    width: 105%;
    height: 105%;
}
.lookitemmm p {
    color: #0072bc;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 24px;
    margin-left: 20px;
}
.lookitemmm p:hover {
    color: orange;
    text-decoration: underline;
}
.servicess {
    margin-bottom: 70px;
}
.servicess .tddv {
    text-align: center;
}
.servicess .tddv h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 55px;
    text-align: center;
}
.containdv {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dfldv {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.colmd6bt {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.servicess .honhop {
    margin-bottom: 50px;
    cursor: pointer;
    align-items: center;
    display: flex;
}
.servicess .anhminhhoa {
    width: 143px;
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.servicess .anhminhhoa img {
    width: 100%;
    height: 100%;
}
.servicess .anhminhhoa img:hover {
    width: 105%;
    height: 105%;
}
.servicess .motadv {
    margin-left: 10px;
}
.servicess .motadv h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #0072bc;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 5px;
}
.servicess .motadv h3:hover {
    color: orange;
    text-decoration: underline;
}
.servicess .motadv p {
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    opacity: .87;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 96px;
}
.anotherdv {
    text-align: center;
}
.servicess .buton {
    width: 255px;
    display: inline-block;
    padding: 13px 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background: #f7941e;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.servicess .buton:hover{
    background-color: #0072bc;
}

.partner {
    margin-bottom: 110px;
}
.containerlg3 {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title2 {
    text-align: center;
}
.title2 h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #313131;
    margin-bottom: 50px;
    margin-top: 0;
}
.logopartner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8%;
}
.logopartner .logo {
    max-width: 10%;
    height: auto;
    margin: 20px 55px 10px 55px;
    cursor: pointer;
}

.tuvan {
    margin: 50px 0;
}
.rowtv {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col612 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.contactleft {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.contactleft .contactleftimg {
    border-radius: 10px;
    margin-left: 10px;
}
img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.formct {
    padding: 13px 34.57px 18px;
    background: #fff;
    box-shadow: 0 0 40px rgba(125, 125, 125, 0.1);
    border-radius: 10px;
    margin-right: 10px;
}
.formct_title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.formtitle_icon {
    width: 52.38px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 5px;
}
.formtitle_nd {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #313131;
}
.formct .maulienhe {
    padding: 0 8.38px;
}
.formct .maulienhe .ndc {
    margin-bottom: 10px;
}
.formct .maulienhe input {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    color: #313131;
    height: 50px;
    background: #fff;
    border: 1px solid rgba(49,49,49,.3);
    box-sizing: border-box;
    border-radius: 4px;
}
.formct .maulienhe textarea {
    min-height: 92px;
    height: 320px;
    padding: 13px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    background: #fff;
    border: 1px solid rgba(49,49,49,.3);
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: auto;
    resize: vertical;
}
.formct button {
    background: #f7941e;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    transition: .3s;
    border: none;
    cursor: pointer;
}
.formct button:hover {
    background-color: #0072bc;
}