.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.title_form {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.title_form::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

input {
    display: block;
    width: 100%;
}

.user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form {
    width: 40%;
    height: 40%;
    margin-bottom: 15px;
    margin-top: 7.5px;
    width: calc(100% / 2 - 80px);
}

input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.field {
    height: 40px;
    margin: 45px 0px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn_create {
    width: 80px;
    height: 40px;
    background: #007bff;
    color: #ffffff;
    border: 5px;
    border-radius: 5px;
    border-color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}

.btn_create:hover {
    background-color: #fff;
    border: 1px solid #007bff;
    color: #007bff;
}

.btn_close {
    width: 80px;
    height: 40px;
    background-color: #dc3545;
    color: #ffffff;
    border: 5px;
    border-radius: 5px;
    border-color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}

.btn_close:hover {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btn_close:last-child {
    margin-left: 10px;
}